workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_TAG

default:
  tags:
    - docker

variables:
  UV_LINK_MODE: copy

stages:
  - test

tests_py312_cov:
  stage: test
  image: registry.esss.lu.se/ecdc/ess-dmsc/docker-almalinux9-conan:1.6.0
  before_script:
    - git config --global --add safe.directory "$CI_PROJECT_DIR"
    - uv sync --extra gui --all-packages
  script:
    - uv run pytest test/ --cov=nicos --cov=nicos_ess --cov-report term --cov-report xml:coverage.xml --junitxml=test-output.xml
  coverage: /TOTAL.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    paths:
      - test-output.xml
      - coverage.xml
    reports:
      junit: test-output.xml
  variables:
    UV_PYTHON: 3.12

tests_py3xx:
  stage: test
  image: registry.esss.lu.se/ecdc/ess-dmsc/docker-almalinux9-conan:1.6.0
  before_script:
    - git config --global --add safe.directory "$CI_PROJECT_DIR"
    - uv sync --extra gui --all-packages
  script:
    - uv run pytest test/ --junitxml=test-output.xml
  parallel:
    matrix:
      - PYTHON_VERSION: ["3.13", "3.14"]
  artifacts:
    paths:
      - test-output.xml
    reports:
      junit: test-output.xml
  variables:
    UV_PYTHON: $PYTHON_VERSION
