default:
  interruptible: true
  retry:
    max: 2
    when:
      - stuck_or_timeout_failure
      - runner_system_failure

.python-docker:
  tags:
    - docker
  image: registry.esss.lu.se/ecdc/ess-dmsc/docker-centos7-build-node:latest
  before_script:
    - scl enable rh-python38 -- python --version
    - scl enable rh-python38 -- pip install --user --upgrade pip 
    - scl enable rh-python38 -- pip install --user -r requirements.txt
    - scl enable rh-python38 -- pip install --user -r requirements-gui.txt
    - scl enable rh-python38 -- pip install --user -r requirements-dev.txt
    - scl enable rh-python38 -- pip install --user pytest pytest-timeout mock lxml Pillow 
    - scl enable rh-python38 -- pip install --user 'requests<2.30.0'

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

stages:
  - test
  - lint
  - format
  
test:
  stage: test
  extends:
    - .python-docker
  script:
    - cd test
    - scl enable rh-python38 -- python -m pytest --junitxml=test-output.xml --ignore=nicos_sinq
  artifacts:
    paths:
      - test/test-output.xml
    reports:
      junit: test/test-output.xml


# lint stage

.lint:
  stage: lint
  needs: []

lint:coverage-py:
  extends:
    - .lint
    - .python-docker    
  needs:
    - job: test
      artifacts: false
      optional: true
  script:
    - cd test
    - scl enable rh-python38 -- python -m pytest --cov --cov-report term --cov-report xml:coverage.xml --ignore=nicos_sinq
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    expire_in: 1 week
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

lint:ruff:
  extends:
    - .lint
    - .python-docker    
  script:
    - scl enable rh-python38 -- python -m ruff check --output-format=gitlab | tee code-quality-report.json
  artifacts:
    reports:
      codequality: code-quality-report.json


# format stage

.format:
  stage: format
  needs: []

format:ruff:
  extends:
    - .format
    - .python-docker    
  script:
    - scl enable rh-python38 -- python -m ruff format --diff

format:codespell:
  extends:
    - .format
    - .python-docker    
  script:
    - scl enable rh-python38 -- python -m pip install codespell
    - scl enable rh-python38 -- codespell
